body {
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 970px !important;
}

carousel-indicators li {
  background: #96bce8;
  border: 1px solid #96bce8;
}

.carousel-indicators li.active {
  background: #2966b8;
}

@media (min-width: 1400px) {
  .carousel-indicators {
    position: absolute;
    left: 500px;
  }
}

@media (max-width: 768px) {
  .carousel-indicators {
    position: absolute;
    left: 200px;
  }
}

@media (max-width: 576px) {
  .carousel-indicators {
    position: absolute;
    left: 100px;
  }
}

.header {
  width: 100%;
  height: 90px;
  position: relative;
  background: #5c5c60;
}

.header_container {
  padding: 30px 0;
}

#text {
  font-family: Roboto;
  background: linear-gradient(to top, #999696, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_phone {
  position: relative;
  width: 100%;
  background: radial-gradient(
      37.21% 37.21% at 50% 95.83%,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 0%,
      rgba(255, 255, 255, 0.64) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #91d9ed;
}

.phone {
  margin-top: 50px;
  position: relative;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

.ios_text {
  font-family: Roboto;
  font-size: 37px;
  line-height: 46px;
  color: #ffffff;
}

.text_ios_lorem {
  font-family: Roboto;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: #608dad;
}

.ios_button {
  border: 0;
  border-radius: 0;
  font-family: Roboto;
  font-weight: 300;
  padding: 12px 60px;
  font-size: 16px;
  margin-top: 30px;
  background: #71add8;
  border: 0 !important;
  outline: none !important;
}

@media (max-width: 576px) {
  .ios_button {
    padding: 8px 20px;
    margin-bottom: 10px;
  }
}

.margin_top_text {
  margin-top: 100px;
}

.header_services {
  width: 100%;
  position: relative;
  background: #FFFFFF;
}

#services_title {
  font-family: Phetsarath;
  color: #4D7CCD;
  margin-top: 20px;
  margin-bottom: 23px;
}

#services_text {
  font-family: Phetsarath;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
  width: 100%;
}

.services_button {
  border: 0;
  border-radius: 0;
  font-family: Roboto;
  font-weight: 200;
  padding: 8px 40px;
  font-size: 16px;
  background: #3B6EC6;
  color: #FFFFFF;
}

.margin-top-title {
  margin-top: 30px;
}

h2 > span {
  position: relative;
  padding: 0 15px;
  display: inline-block;
}

h2 > span:before, h2 > span:after {
  content: "";
  width: 220px;
  border-top: 3px solid;
  position: absolute;
  right: 100%;
  top: 50%;
  background: #767E86;
  margin-top: -2px;
}

h2 > span:after {
  left: 100%;
}

@media (max-width: 768px){
  h2 > span:before, h2 > span:after {
    width: 40%;
  }
}

@media (max-width: 576px){
  h2 > span:before, h2 > span:after {
    width: 20%;
  }
}

.header_about {
  width: 100%;
  position: relative;
  background: #D1CFCF;
}

.header_about_img img{
  position: relative;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 768px){
  .header_about_img img{
     margin-top: 50px;
  }
}

#title1 {
  margin-top: 40px;
  font-family: Phetsarath;
  font-size: 40px;
  line-height: 71px;
  color: #767E86;
}

@media (max-width: 500px){
  #title1 {
    font-size: 20px;
  }
}

#test_task_about {
  font-family: Phetsarath;
  font-size: 32px;
  line-height: 39px;
  color: #767E86;
}

#lorem_about {
  margin-top: 20px;
  font-family: Phetsarath;
  font-size: 15.8px;
  line-height: 16px;
  color: #767E86; 
  text-align: justify;
}

#skills {
  font-family: Phetsarath;
  font-size: 27px;
  line-height: 39px;
  color: #3F7BB8;
}

@media (min-width: 768px){
  #skills {
     margin-top: 60px;
  }
}

.skills-block {
  font-family: Phetsarath;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

#skills_html {
  background: linear-gradient(270deg, #838284 8.29%, 
    rgba(255, 255, 255, 0) 8.3%, 
    rgba(255, 255, 255, 0) 24.28%), #3F7BB8;  
  margin-top: 20px;
  display: flex;
  height: 35px;
  align-items: center;
}

#skills_css {
  background: linear-gradient(270deg, #838284 4.21%, 
    rgba(255, 255, 255, 0) 4.22%, 
    rgba(255, 255, 255, 0) 18.74%), #3F7BB8;
  display: flex;
  margin-top: 20px; 
  height: 35px;
  align-items: center;
}

#skills_photo {
  background: linear-gradient(270deg, #838284 13.68%, 
    rgba(255, 255, 255, 0) 13.69%, 
    rgba(255, 255, 255, 0) 28.32%), #3F7BB8; 
  display: flex;
  margin-top: 20px;
  height: 35px;
  align-items: center;
}

#skills_ilustr {  
  background: linear-gradient(270deg, #838284 16.45%, 
    rgba(255, 255, 255, 0) 16.45%, 
    rgba(255, 255, 255, 0) 30.39%), #3F7BB8; 
  display: flex;
  margin-top: 20px;
  height: 35px;
  align-items: center;
}

.about_input {
  font-family: Phetsarath;
  font-size: 14px;
  color: #AEAAB2;
}

#input-top {
  margin-top: 30px;
}

#input-second-top {
  margin-top: 9px;
}

.about_form_input {
  width: 98%;
  position: absolute;
  font-family: Phetsarath;
  font-size: 14px;
}

.footer {
  width: 100%;
  background: #FFFFFF;
}

#text_footer {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 23px;
  font-family: Phetsarath;
  color: #97949B;
}

@media (max-width: 992px){
  #text_footer {
     margin-top: 340px;
  }
}