body {
  padding: 0;
  overflow-x: hidden;
}

.container {
    max-width: 1200px !important;
}

carousel-indicators li{ background: #96BCE8;  border:1px solid #96BCE8;}
.carousel-indicators li.active{background:#2966B8;}


@media (min-width: 1400px) {.carousel-indicators {
position: absolute;
left: 500px;
}} 

@media (min-width: 1400px) {.carousel-inner,.carousel,.item,.container {
 position:absolute;
 height: 348px;
 width: 100%;
 right: 0;
 background-position:center center;
 background-size:cover;
}}

@media (max-width: 1399px) {.carousel-inner,.carousel,.item,.container {
 position:absolute;
 height: 348px;
 width: 100%;
 right: 0;
 background-position:center center;
 background-size:cover;
}}

.header {
    width: 100%;
    height: 90px;
    position: relative;
    background: #5C5C60;
}

.header_container {
    padding: 30px 0;
}

#text {
    font-family: Roboto;
    background: linear-gradient(to top, #999696, #FFFFFF);
   -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent; 
}

.header_phone {
    position: relative;
    width: 100%;
    height: 348px;
    background: radial-gradient(37.21% 37.21% at 50% 95.83%, 
        rgba(255, 255, 255, 0.63) 0%, 
        rgba(255, 255, 255, 0) 100%), 
        radial-gradient(50% 50% at 50% 0%, 
        rgba(255, 255, 255, 0.64) 0%, 
        rgba(255, 255, 255, 0) 100%), #91D9ED;
}

.second_header_phone {
    position: relative;
    width: 100%;
    height: 348px;
    background: radial-gradient(37.21% 37.21% at 50% 95.83%, 
        rgba(255, 255, 255, 0.63) 0%, 
        rgba(255, 255, 255, 0) 100%), 
        radial-gradient(50% 50% at 50% 0%, 
        rgba(255, 255, 255, 0.64) 0%, 
        rgba(255, 255, 255, 0) 100%), #D1D353;
}

.third_header_phone {
    position: relative;
    width: 100%;
    height: 348px;
    background: radial-gradient(37.21% 37.21% at 50% 95.83%, 
        rgba(255, 255, 255, 0.63) 0%, 
        rgba(255, 255, 255, 0) 100%), 
        radial-gradient(50% 50% at 50% 0%, 
        rgba(255, 255, 255, 0.64) 0%, 
        rgba(255, 255, 255, 0) 100%), #53D360;
}

.phone {
    position: relative;
    display: block;
    margin-top: 35px;
    object-fit: cover; 
    object-position: bottom; 
}

@media (max-width: 580px) {.phone img{
    width:80%; 
    }}

.ios_text {
    font-family: Roboto;
    font-size: 37px;
    line-height: 46px;
    color: #FFFFFF;
}

@media (max-width: 770px) {.ios_text{
    font-size: 33px;
}}

@media (max-width: 490px) {.ios_text{
    font-size: 25px;
}}

@media (max-width: 380px) {.text_ios_lorem{
    font-size: 20px;
}}

.text_ios_lorem {
    font-family: Roboto;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: #608DAD;
}

@media (max-width: 770px) {.text_ios_lorem{
    font-size: 10px;
}}

@media (max-width: 490px) {.text_ios_lorem{
    font-size: 8px;
}}

@media (max-width: 390px) {.text_ios_lorem{
    font-size: 7px;
}}

.ios_button {
   border: 0;
   border-radius: 0;
   font-family: Roboto;

   font-weight: 300;
   padding: 12px 60px;
   font-size: 16px;
   margin-top: 30px;
   background: #71ADD8;
   border: 0 !important;
   outline: none !important;
}

@media (max-width: 770px) {.ios_button{
    
}}

@media (max-width: 490px) {.ios_button{
    padding: 8px 40px;
    font-size: 16px;

}}
.margin_top_text {
    margin-top: 100px;
}

.header_service {
    width: 100%;
    height: 363px;
    position: relative;
    background: #FFFFFF;
}